<div class="container mb-5">
  <div class="row justify-content-center g-4" #row>
    <div class="col-md-3" *ngFor="let property of allProperties$ | async">
      <div class="card">
        <img [src]="property.imgUrl" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title title-text">{{ property.title }}</h5>
          <p class="card-text city-text">
            {{ property.city }}
          </p>
          <p class="card-text address-text">
            {{ property.address }}
          </p>
          <p class="card-text">{{ property.size }} m²</p>
          <p class="card-text">{{ property.rooms }} rooms</p>
          <p class="card-text">
            {{ property.isPetsAllowed ? "🐶" : "🤡" }}
          </p>
          <p class="card-text">
            {{ property.isRented ? "✅" : "❌" }}
          </p>
          <a href="#" class="btn btn-custom mt-2">See more</a>
        </div>
      </div>
    </div>
  </div>
</div>
