<div class="main">
  <header class="header">
    <ul class="menu">
      <li class="menu__item"><a href="" class="menu--link">Home</a></li>
      <li class="menu__item"><a href="" class="menu--link">About Us</a></li>
      <li class="menu__item"><a href="" class="menu--link">How it works</a></li>
      <li class="menu__item"><a href="" class="menu--link">Benefits</a></li>
      <li class="menu__item"><a href="" class="menu--link">Testimonials</a></li>
    </ul>
    <ul class="menu menu-right">
      <li class="menu__item"><a href="" class="menu--link">Blog</a></li>
      <li class="menu__item"><a href="" class="menu--link">FAQ</a></li>
    </ul>
  </header>
  <section class="first-section">
    <div class="info">
      <h1 class="heading-1">Real estate advice for real locals.</h1>
      <p class="parapraph">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione autem,
        error eveniet tempora ab natus eos.
      </p>
      <a class="btn btn--start">Get started</a>
    </div>
    <div class="visuals">
      <div class="image-container">
        <img src="./../assets/photo-1536179247184-595913ca4a28.jpeg" alt="" />
      </div>
      <div class="image-container">
        <img src="./../assets/photo-1469817805249-72b7df1c3c05.jpeg" alt="" />
      </div>
    </div>
  </section>
  <section class="second-section">
    <div class="box"></div>
    <h4 class="heading-4" id="about">About Us</h4>
    <h1 class="heading-1" id="buy">Buying home doesn't have to be a mystery</h1>
    <div class="info-1">
      <div class="info-1__text">
        <span class="qoute">"</span>
        <h2 class="heading-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </h2>
        <p class="paragpraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam porro,
          ex voluptate odio error nihil blanditiis iusto voluptatibus? Labore,
          facere in. Nemo iste laudantium, labore tempore voluptatum porro quas
          perspiciatis.
        </p>
        <div class="btn--learn">Learn more</div>
      </div>
      <div class="info-1__visual">
        <img src="./../assets/photo-1593016605825-8cfb409ca3b1.jpeg" alt="" />
      </div>
    </div>
  </section>
</div>
