<div class="header-container">
  <header class="header">
    <ul class="menu" #menu>
      <li class="menu__item">
        <a class="menu__link">Home</a>
      </li>
      <li class="menu__item">
        <a class="menu__link">About Us</a>
      </li>
      <li class="menu__item">
        <a class="menu__link">How it Works</a>
      </li>
      <li class="menu__item">
        <a class="menu__link">Benefits</a>
      </li>
      <li class="menu__item">
        <a class="menu__link">Testimonials</a>
      </li>
    </ul>
    <ul class="menu menu-right" #menuSecond>
      <li class="menu__item">
        <a class="menu__link">Blog</a>
      </li>
      <li class="menu__item">
        <a class="menu__link">FAQ</a>
      </li>
    </ul>
  </header>
</div>
