*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: inherit;
  position: relative;
  background-color: #fafafa;
  overflow-y: scroll;
  overflow-x: hidden;
}
